/* ---------- GLOBAL ---------- */

:root {
    --color-black: rgb(0, 0, 0);
    --color-dark-gray: rgb(50, 50, 50);
    --color-dark-gray-hover: rgb(80, 80, 80);
    --color-light-gray: rgb(189, 149, 149);
    --color-light-pink: rgb(236, 207, 214);
    --color-white: rgb(244, 244, 244);
    --color-card-one: rgb(253, 213, 138);
    --color-card-two: rgb(253, 150, 113);
    --color-card-three: rgb(94, 174, 251);
    --color-card-four: rgb(251, 188, 74);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    border: 0;
    text-decoration: none;
    font-size: max(1.8rem, 1.2vw);

    font-family: 'Merriweather Sans', sans-serif;
}

html {
    font-size: 62.5%;   
}

button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    user-select: none;
}

a {
    user-select: none;
}

body {
    min-height: 100vh;
    width: 100%;
}

/* ---------- HEADER ---------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: min(4rem, 4vw) min(8rem, 6vw);

    background-color: var(--color-white);
}

h1.logo {
    font-size: 2.4rem;
    font-size: min(2.6rem, 6vw);
}

.menu a {
    color: var(--color-black);
    position: relative;
}

.menu a:not(:last-child) {
    margin-right: 2rem;
}
.menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -.3rem;
    left: 0;
    background-color: var(--color-dark-gray);

    transform: scaleX(0);
    transition: all .3s;
}

.menu a:hover:after {
    transform: scaleX(1);
}

/* ---------- FIRST SECTION ---------- */

main {
    background-color: var(--color-light-pink);
    padding: min(4rem, 5vw) min(8rem, 6vw);
}

.learn-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.learn-section h2 {
    font-size: max(6rem, 4vw);
    letter-spacing: .1rem;
    word-spacing: .4rem;
}

.learn-section p {
    margin: 3rem 0 5rem;
    max-width: 90%;
}


.illustration {
    max-width: 120rem;
}

button#get-notified {
    padding: 2rem 3rem;
    background-color: var(--color-dark-gray);
    color: white;
    border-radius: .8rem;
    transition: all .3s;
}

#get-notified:hover {
    background-color: var(--color-dark-gray-hover);
}

/* ---------- SECOND SECTION ---------- */

.card-section {
    margin-top: 8rem;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.card {
    text-align: center;
    color: white;
    padding: 1.5rem;
    border-radius: .5rem;
}

.card p {
    font-size: max(1.8rem, 1vw);
    max-width: 60%;
    margin: 0 auto; 
}

.card-clipart {
    margin: 4rem auto 0;
    max-width: min(15rem, 20vw);
}

.card:nth-child(1) {
    background-color: var(--color-card-one);
    color: var(--color-dark-gray);
}
.card:nth-child(1) img{
    max-height: 30rem;
}

.card:nth-child(2) {
    background-color: var(--color-card-two);
}
.card:nth-child(3) {
    background-color: var(--color-card-three);
}
.card:nth-child(4) {
    background-color: var(--color-card-four);
}

/* ---------- FOOTER ---------- */

footer {
    padding: 1rem;
    background-color: var(--color-light-gray);
    color: var(--color-white);
    font-weight: 700;
}

@media (max-width:500px) {
    header {
        flex-direction: column;
    }

    h1.logo {
        margin-bottom: 2rem;
    }
}

@media (max-width:800px) {

    .learn-section {
        grid-template-columns: 1fr;
    }

    .illustration {
        display: none;
    }
}